.tableHeader {
  width: 100%;
  cursor: pointer;

  padding: 4px 2px 0px 2px !important;
}
.headLabelWrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
}
.headLabelWrapperCenter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid rgba($color: #4a4a4a, $alpha: 0.05);
}
.headerItemWrapper {
  position: relative;

  padding: 0.5rem;
  border-radius: 0.45rem;
  min-width: 3rem;
  border: 1px solid rgba($color: #4a4a4a, $alpha: 0.05);
  text-transform: none;

  //   padding: 0.4rem 1rem;

  span {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 0.8rem;

    color: #4a4a4a;
    font-weight: 500;
  }
  .sort {
    font-size: 0.45rem;
    line-height: 0.6rem;
    right: 1.4rem;
    position: absolute;
    padding-left: "0.45rem";
    bottom: 0px;
    right: 1.4rem;
    text-transform: "capitalize";
  }
  .subFieldWrapper {
    display: flex;
    flex: 1;
  }

  .subField {
    flex: 1;
    text-align: center;
    font-size: 80%;
    border: 2px solid rgba($color: #4a4a4a, $alpha: 0.05);
    border-top: none;
    span {
      text-align: center;
      font-family: "Roboto", "Open Sans", sans-serif;
      font-size: 0.8rem;

      color: #4a4a4a;
      font-weight: 500;
    }
  }
}
