.wrapper {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  .lockDisabled {
    background-color: yellow;
  }
  * {
    box-sizing: border-box;
  }
}
.filterWrapper {
  display: flex;
  flex-flow: column;
  padding: 10px;
}
.icon {
  padding-right: 0.6rem;
}
.topHeaderItemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.45rem;
  margin: 0.3rem 0.6rem;

  //   padding: 0.4rem 1rem;
}
.backgroundWhite {
  background-color: white !important;
}
.label {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
}
.headLabel {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.searchWrapper {
  border: none;
}
.applyElevation {
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.mediumPadding {
  padding: 0.5rem 1rem;
}
.input {
  color: #939393;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  outline: none;

  //   padding: 0.4rem 1rem;
  &,
  &:focus {
    outline: none;
  }
  &:read-only {
    border: 1px solid transparent;
    outline: none;
    font-family: inherit;
  }
  &::placeholder {
    font-weight: 400;
    opacity: 0.6;
  }
}
.filterButton {
  background: white;
  color: blue;
  outline: none;
  font-family: "Roboto", "Open Sans", "sans-serif";
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.6rem;
  font-weight: 600;
}
.materialFilterButton {
  font-family: "Roboto", "Open Sans", "sans-serif" !important;

  font-size: 0.7rem !important;
  margin: 5px 10px !important;
  cursor: pointer;

  font-weight: 600;
}
.danger {
  color: red;
}
.buttonWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rowWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.applyWrapper {
  display: flex;
  justify-content: center;
}
.applyButton {
  font-size: 0.8rem;
}
.recordWrapper {
  display: flex;
  flex-flow: column;
  margin: 0 0.3rem;
}
.totalRecords {
  display: flex;
  align-items: center;
}
.filterButtonWrapper {
  display: flex;
  flex-wrap: wrap;
}
.dateRangeWrapper {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.dateRangeItem {
  height: 100%;
  flex: 1;
}
.text {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}
.toggleButtonStyles {
  font-size: 0.7rem !important;
}
.downloadButtonStyle {
  background-color: blueviolet;
  color: white;
}
