.headerWrapper {
  display: flex;
  background: #f9faff;
}
.optionRowWrapper {
  display: flex;
}
.optionRowWrapper:nth-of-type(odd) {
  background: #f9faff;
}
.headerItemWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.45rem;

  width: 7rem;
  border: 1px solid rgba($color: #4a4a4a, $alpha: 0.05);
  box-sizing: border-box;

  //   padding: 0.4rem 1rem;

  span {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 0.8rem;

    color: #4a4a4a;
    font-weight: 500;
  }
  .sort {
    font-size: 0.45rem;
    line-height: 0.6rem;
    right: 1.4rem;
    position: absolute;
    padding-left: "0.45rem";
    bottom: 0px;
    right: 1.4rem;
    text-transform: "capitalize";
  }
}

.option {
  width: 7rem;
  display: inline-block;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.dialogHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}
.text {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}
.title {
  color: #2f84be;
  font-size: 1.5rem;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.singleDetailWrapper {
  display: flex;
}
.labelWrapper {
  display: flex;
  justify-content: space-between;
  width: 9rem;
  margin: 0 0.6rem;
}
.summaryWrapper {
  padding: 0.6rem 1rem;
}
