.text {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}
.title {
  color: #2f84be;
  font-size: 1.2rem;
  font-family: "Roboto", "Open Sans", sans-serif;
}
