.uploaderWrapper {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.buttonWrapper {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
}
.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.label {
  font-size: 1rem;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.iconWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.subtitleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subtitleText {
  font-size: 0.7rem;

  text-align: center;
  color: #939393;
}
.fileSelection {
  width: 15rem;
}
.displayElementWrapper {
  width: 440px;
  height: 165px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.singleItemWrapper {
  height: 90%;
  width: auto;
}
.singleItem {
  width: 100%;
  height: 100%;
}
