.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.4rem;
}
.text {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: inherit;
  padding-left: 1.4rem;
}
