.wrapper {
  overflow: auto;
  display: flex;
  background-color: #f9faff !important;
  flex-flow: column;
  flex: 1;
  .table {
    flex: 1;
    background: inherit;
  }
}
.content {
  overflow: auto;
  flex: 1;
  width: 100%;
  background: inherit;
}
.filterHeader {
  background-color: #f9faff;
  width: 100vw;
}
.bodyWrapper {
  display: flex;

  justify-content: center;
  padding-top: 2rem;
}
.tableWrapper {
  font-family: inherit;
  background: white;
  border: 1px solid rgba(0, 0, 50, 0.1);
}
.tableWrapper tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.noData {
  font-family: "Roboto", "sans-serif";
  color: #4a4a4a;
  font-weight: 500;
  font-size: 1.2rem;
}
