.wrapper {
  display: flex;
}
.singleDropdown {
  padding: 0;
}

.inputStyle {
  &,
  &:focus,
  &:active {
    margin-top: 0.6rem;
    border: none;
    font-size: 0.8rem;
    outline: none;
    padding: 0.3rem;
    background-color: #f9faff;
    padding: 4px 4px;
  }
}
.headLabel {
  font-family: "Roboto", "Open sans", "sans-serif";

  font-size: 0.85rem;
  padding-left: 0.8rem;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
}
.iconWrapper {
  margin: 0 10px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}
