.input {
  width: 90%;
  color: #4a4a4a;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: inherit;
  border: 1px solid #707070;
  //   padding: 0.4rem 1rem;
  &,
  &:focus {
    outline: none;
    border-radius: 0.3rem;
  }
  &:read-only {
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
  }
  &::placeholder {
    font-weight: 400;
    opacity: 0.8;
    color: #cacaca;
  }
}
.fileInput {
  position: relative;
  display: block;
  font-size: 0.8rem;
  min-height: 1.5rem;
  text-align: center;
  color: "#222222";
  padding: 8px 10px;
  display: flex;
  align-items: center;

  font-weight: 500;
  cursor: pointer;
  min-width: 7rem;
  border: 1px solid #707070;
  outline: none;
  border-radius: 0.6rem;
}
.wrapper {
  display: flex;
  flex-flow: column;
}
.label {
  font-size: 1rem;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: 500;
  position: relative;
}
.absoluteIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 10000;
  color: #434343;
}
