.wrapper {
  padding: 10px 20px;
  //   height: 60vw;
  //   overflow: auto;
}
.editItemWrapper {
  display: flex;
  align-items: center;
}
.labelWrapper {
  display: flex;
  justify-content: space-between;
}
.labelText {
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-weight: 500;
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
}
.label {
  width: 6rem;
}
.headerTitle {
  display: flex;
  justify-content: center;
}
.buttonWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.codeEditor {
  margin-top: 10px;
}
