.ReactVirtualized__Table__headerColumn {
  // flex: 0 0 150px !important;

  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin: 0;
}
.ReactVirtualized__Table__headerRow {
  cursor: pointer;

  background: #f9faff;
}
.ReactVirtualized__Table__Grid {
  outline: none;
}
.ReactVirtualized__Table__rowColumn {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin: 0;
  overflow: visible !important;
  position: relative !important;
}
.ReactVirtualized__Table__row {
  overflow: visible !important;
}
.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", "sans-serif";
}
// .ReactVirtualized__Table__Grid::-webkit-scrollbar {
//   width: 1rem;
//   background-color: #f9faff;
// }
// .ReactVirtualized__Table__Grid::-webkit-scrollbar-thumb {
//   background-color: #618583;
//   border-radius: 0.6rem;
// }
// .ReactVirtualized__Table__Grid::-webkit-scrollbar-track {
//   border-radius: 0.6rem;
//   -webkit-box-shadow: inset 0 0 0.35rem rgba(0, 0, 0, 0.3);
//   box-shadow: inset 0 0 0.35rem rgba(0, 0, 0, 0.3);
//   background-color: #f9faff;
// }
// .ReactVirtualized__Table__Grid::-webkit-scrollbar-corner {
//   background-color: #f9faff;
// }
.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.scrollButtonTableVirtual {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5vh;

  left: 95vw;
  z-index: 100000;

  background: rgba(0, 0, 50, 0.05);
  cursor: pointer;

  width: 3rem;
}
.scrollButton .scrollIcon {
  opacity: 0.4;
}

.scrollButton:hover .scrollIcon {
  opacity: 1;
}
